{% extends 'shop/basic.html'%}
{% load static %}

   {% block body %}

<div class="container">
    <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Ecommerce Website</h1>
      <p>E-business websites can be online storefronts or online marketplaces. An online marketplace will make it easier to buy or sell goods and services between merchants and customers. Examples of ebusiness websites include Etsy, Fiverr, and Upwork. An online storefront is more of a traditional e-shop.</p>
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Go To Home &raquo;</a></p>
    </div>
  </div>
</div>
   {% endblock %}