{% extends 'shop/basic.html'%}
{% load static %}
{% block css %}
      .col-md-3
      {
        display:inline-block;
        margin-left:-4px;
      }

  .col-md-3 img {
    width: 100%;
    height: 180px;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon
  {
      background-color:#120D10;
  }
  .carousel-indicators .active
  {
    background-color:#120D10;
  }
  body .no-padding
    {
        padding-left:0;
        padding-right:0;
    }
    body .carosel-indicators
    {
        bottom: 0;
    }
    a.carousel-control-prev,
    a.carousel-control-next
    {
      top:auto;
      bottom:auto;
      margin-top:-250px;
        margin-left:-100px;
        margin-right:-100px;
    }

{% endblock%}

  {% block body %}
   <div class="container my-2">
     {% for product,range,nslide in allprods%}
     <h2 >{{product.0.category}}</h2>
       <div id="demo{{forloop.counter}}" class="carousel slide my-3"
            data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
    {% for r in range%}
    <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{r}}"></li>
    {% endfor %}

  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">

    <div class="carousel-item active">
      {% for p in product %}
      <div class="col-md-3 col-sm-3 col-xs-3">
      <div class="card" style="width: 18rem;">
  <img src="/media/{{p.product_image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" id="name{{p.pid}}">{{p.product_name}}</h5>
    <h5 class="card-text" id="price{{p.pid}}">Rs. {{p.product_price}}</h5>
    <p class="card-text">{{p.product_desc|slice:"0:25"}}...</p>
      <span class="div" id="div{{p.pid}}">
    <button  id="{{p.pid}}" class="btn btn-primary cart">Add To Cart</button>
          </span>
      <a href="/productview/{{p.pid}}"><button  class="btn btn-primary">Quick View</button></a>
  </div>
</div>
        </div>
      {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last%}
    </div>          <!-- carousel-item active close -->
    <div class="carousel-item">
      {% endif %}
      {% endfor %}

    </div>

  </div>   <!-- carousel-inner-->

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
           </div> <!-- demo id close -->
{% endfor %}

   </div>  <!-- container close -->
{% endblock %}

{% block js%}
console.log("Javascript working ..");
{% if msg|length != 0 %}
alert("{{msg}}");
document.location="/";
{% endif %}
if(localStorage.getItem("cart")==null)
{
    var pcart={};
}
else
{
    pcart=JSON.parse(localStorage.getItem('cart'));
    updatecart(pcart);
}

$('.cart').click(function()
{
    console.log("add to cart click ..");
    var idstr=this.id.toString();
    //console.log(idstr);
    if(pcart[idstr]!=undefined)
    {
        qty=qty+1;
    }
    else
    {
        qty=1;
        name=document.getElementById("name"+idstr).innerHTML;
        price=document.getElementById("price"+idstr).innerHTML;
        pcart[idstr]=[qty,name,price];
    }
console.log(pcart);
localStorage.setItem('cart',JSON.stringify(pcart));
updatecart(pcart);
});

$("#popcart").popover();
updatepopover(pcart);

function updatepopover(pcart)
{
    var pstr="";
    pstr=pstr+"<b>Your Cart Have Below Items:- </b>";
    pstr=pstr+"<table border='2px solid' cellpadding='2px' cellspacing='3px'><tr><th>Name</th><th>Quantity</th></tr>";
    for(item in pcart)
    {
        pstr=pstr+"<tr><td>"+document.getElementById("name"+item).innerHTML+"</td><td>" +pcart[item][0]+"</td></tr>";
    }
    pstr=pstr+"</table>";
pstr=pstr+"<a href='/placeorder' ><button class='btn btn-primary my-2 mx-2' id='ordernow'>Place Order</button></a>";
pstr=pstr+"<button class='btn btn-primary' id='clearcart' onclick='clearcart();'>Clear Cart</button>";
    document.getElementById("popcart").setAttribute('data-content',pstr);
    $("#popcart").popover('show');
}

function clearcart()
{
    console.log("clearcart called");
    pcart=JSON.parse(localStorage.getItem('cart'));
    for(item in pcart)
    {
        document.getElementById("div"+item).innerHTML="<button  id='"+item+"'  class='btn btn-primary cart'>Add To Cart</button>";
    }
    localStorage.clear();
    window.location.reload();
    pcart={}
    updatecart(pcart);

}
function updatecart(pcart)
{
    for (item in pcart)
    {
        //console.log(pcart[item]);
        document.getElementById("div"+item).innerHTML="<button class='btn btn-primary minus' id='minus"+item+"'> - </button> <span id='val"+item+"'>"+pcart[item][0]+"</span> <button class='btn btn-primary plus' id='plus"+item+"'> + </button>";

        if(pcart[item][0]==0)
        {
                delete pcart[item];
                document.getElementById("div"+item).innerHTML="<button  id='"+item+"' class='btn btn-primary cart'>Add To Cart</button>";
        }

    }
    localStorage.setItem('cart',JSON.stringify(pcart));
    updatepopover(pcart);
}

$('.div').on("click","button.minus",function()
{
    console.log("minus clicked");
    a=this.id.slice(5,)
    //console.log(pcart[a]);
    pcart[a][0]=pcart[a][0]-1;
    pcart[a][0]=Math.max(0,pcart[a][0]);
    document.getElementById("val"+a).innerHTML=pcart[a][0];
    updatecart(pcart);

});
$('.div').on("click","button.plus",function()
{
    console.log("plus clicked");
    a=this.id.slice(4,)
    //console.log(pcart[a]);
    pcart[a][0]=pcart[a][0]+1;
    document.getElementById("val"+a).innerHTML=pcart[a][0];
    updatecart(pcart);
});


{% endblock%}

